/* CSS declarations go here */

body {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  background-color: white;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
a.nav {
  text-decoration: none;
  display: block;
  width: 70px;
}
li {
  display: inline;
}
 .nav {

 }
#homeButton{
  background-color: #1568B4;
  color: white;
}
#newsButton{
  background-color: #BED73E;
  color: white;
}
#calendarButton{
  background-color: #EE3B34;
  color: white;
}
#contactButton{
  background-color:  #1568B4;
  color: white;
}
