/* CSS declarations go here */

body {
  font-family: helvetica, sans-serif;
  font-size: 12px;
  /*background-color: white;*/

  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}
.nav > li > a {
  text-decoration: none;
  display: block;
  /*width: 70px;*/
  color: #FFF !important;
}

li {
  display: inline;
  float: left;
}
a:hover{
  background-color: white;
  color: black;
  text-decoration: none;
}
header {
  margin: auto;
}
.topPart {
  display: inline;
}
.header img {
  padding: 5px;
  width: 144px;
  height: 64.5px;
}
 .nav {
   text-decoration: none;
 }
#homeButton{
  background-color: #1568B4;
  color: white;
  padding: 5px;
}
#newsButton{
  background-color: #BED73E;
  color: white;
  padding: 5px;
}
#calendarButton{
  background-color: #EE3B34;
  color: white;
  padding: 5px;
}
#contactButton{
  background-color:  #196AB4;
  color: white;
  padding: 5px;
}

#spanishButton{
  background-color: #BED73E;
  padding: 5px;
}

.notificationBox {
  border: 2px solid #C2D6D6;
  padding:2px;
  height: 100px;
  margin: 2px;
  text-align: left;
}

@media (max-width: 700px), handheld and (orientation: landscape){
  .header img{
    width: 150px;
    height: 75px;
  }
  .notificationBox{
    width: 150px;
    height: 75px;
    font-size: 10px;
  }
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
