<template name = "calendar">
  <h2> Calendar and Events </h2>
  {{#each articles}}
    {{> article}}
  {{/each}}
  <div class = "responsive-iframe-container">
<iframe src="https://www.google.com/calendar/embed?title=ICANAZ&amp;height=600&amp;wkst=1&amp;hl=en&amp;bgcolor=%23ffffff&amp;src=6rt9e4nd0s5j50hqbedevdj3i8%40group.calendar.google.com&amp;color=%23853104&amp;ctz=America%2FLos_Angeles" style=" border:solid 1px #777 " width="570" height="600" frameborder="0" scrolling="no"></iframe>
  </div>
</template>
