<template name = "contact">
  <div>
    <h2> Contact Us </h2>
  </div>

  <div class = "row">
    <div class = "col-xs-4 col-sm-4 col-md-4" style = "max-width: 300px;">
      <a href = "https://www.google.com/maps/place/650+E+Morelos+St,+Chandler,+AZ+85225/@33.2944059,-111.8349231,766m/data=!3m2!1e3!4b1!4m2!3m1!1s0x872baa40286a5db3:0x530f907b2e1c0c25?hl=en" style = "color: black">
        <p>650 E. Morelos St.</p>
      <p>Chandler, AZ 85225</p></a>
      <p>480.821.4207</p>
      <p>info@icanaz.org</p>
    </div>

    <div class = "col-xs-4 col-sm-4 col-md-4" style = "max-width: 300px;">
      <p><b>Office Hours</b></p>
      <p>Mon.-Fri. 10:00 AM - 6:00 PM </p>
      <p></p>
      <p><b>Program Hours of Operation</b></p>
      <p>ICAN operates during the times of day when potentially
        dangerous juvenile activities are most likely to occur.
      </p>
    </div>
    <div class = "col-xs-4 col-sm-4 col-md-4" style = "max-width: 300px;">
      <p><b>During School Session</b></p>
      <p>Mon.-Fri. 2:30 PM - 6:00 PM</p>
      <p></p>
      <p><b>During Summer/Intersession</b></p>
      <p>Mon.-Thu. 10:30 AM - 6:00 PM</p>
      <p>Fri. 10:30 AM - 5:00 PM </p>
    </div>
  </div>
  <div class="facebooktimeline">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>




<div class="fb-page" data-href="https://www.facebook.com/ICANAZ" data-width="600px" data-height="350" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/ICANAZ"><a href="https://www.facebook.com/ICANAZ">ICAN</a></blockquote></div></div>




    </div>
</template>
